@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

:root {
    font-size: 15px;
  
    --theme-primary: #2e4249;
    --theme-red: #e99185;
}

.content {
    display: flex;
}


.page-total {
    height: 100%;
    background-image: url('../assets/img/background.jpg');
    background-repeat: repeat;
}

.page-header {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.page-action {
    padding-top: 20px;
}

.page-body {
    padding: 20px 20px; 
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    background-color: antiquewhite;
    border-radius: 16px;
}

.card-title {
    font-family: 'Lora', serif;
    font-weight: 500;
}

.card-horizontal {
    margin-left: 20px;
    margin-right: 20px;
    background-color: antiquewhite;
    border-radius: 16px;
    margin-bottom: 50px;
}

.card-horizontal img {
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}

.card-horizontal .card-body {
    margin-top: 20px;
    margin-left: 16px;
}

.game-title {
    color: brown;
    font-size: 40px;
    font-weight: 700;
}



  
  