* {
    text-decoration: none;
}

main {
    width: 100%;
}



.sidebar {
    background-color: antiquewhite;
    color: #404040;
    height: 100%;
    width: 280px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 16px;
    padding: 16px 0px;
}

.top-section {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.logo {
    font-size: 30px;
    margin-left: 20px;
}

.bars {
    display: flex;
    font-size: 30px;
    margin-left: 10px;
}

.link {
    display: flex;
    color: #404040;
    padding: 10px 15px;
    margin: 5px 15px;
    gap: 15px;
    transition: all 0.2s;
    font-family: 'Lora', serif;
    text-decoration: none;
}

.link:hover {
    background: brown;
    color: white;
    transition: all 0.2s;
    border-radius: 12px;
}

.active {
    background: brown;
    margin: 5px 15px;
    color: white;
    border-radius: 12px;
}

.icon,
.link_text {
    font-size: 20px;
}