.stat-body {
    height: 100vh;
    margin-left: 20px;
}

.stat-img {
    height: 250px;
    width: 250px;
}

.row {
    display: flex;
}

.stat-bar {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.stat-bar-bg {
    background-color: rgb(225, 200, 171);
}